<section fxLayout="column" fxLayoutAlign="center center">
  <form
    [formGroup]="loginForm"
    (ngSubmit)="onSubmit()"
    fxLayout="column"
    fxLayoutAlign="center center"
    fxLayoutGap="10px"
  >
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input type="email" matInput formControlName="emailId" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input
        type="password"
        matInput
        [type]="hide ? 'password' : 'text'"
        formControlName="password"
      />
      <button mat-icon-button matSuffix (click)="hide = !hide">
        <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
      </button>
    </mat-form-field>
    <button
      mat-raised-button
      type="submit"
      color="primary"
      [disabled]="loginForm.invalid"
    >
      Sign In
    </button>
  </form>
  <hr />
  <p>Create a new Account</p>
  <a [routerLink]="['/signup']" mat-raised-button color="accent">Sign Up</a>
</section>
