<section class="new-training" fxLayout fxLayoutAlign="center">
  <form (ngSubmit)="startNewTraining(f)" #f="ngForm">
    <mat-card
      fxFlex="400px"
      fxFlex.xs="100%"
      fxLayout="column"
      fxLayoutGap="15px"
      fxLayoutAlign="center center"
    >
      <mat-card-title fxLayoutAlign="center"
        >Time to start an exercise!</mat-card-title
      >
      <mat-card-content>
        <mat-form-field>
          <mat-select ngModel name="training" #training="ngModel" required>
            <mat-option
              *ngFor="let exercise of availableExercises"
              [value]="exercise.id"
              >{{ exercise.name }}</mat-option
            >
          </mat-select>
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions fxLayout fxLayoutGap="10px">
        <button
          mat-raised-button
          type="submit"
          color="accent"
          [disabled]="f.invalid"
        >
          Start
        </button>
      </mat-card-actions>
    </mat-card>
  </form>
</section>
